# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as n

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [9]:
# Your code here:
pokemon['Legendary'].value_counts(dropna=False)

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [13]:
# Your code here:
legendary = pokemon[pokemon['Legendary'] == True]['Total']
non_legendary = pokemon[pokemon['Legendary'] == False]['Total']

leg_mean, leg_std = (legendary.mean(), legendary.std())
noleg_mean, noleg_std = (non_legendary.mean(), non_legendary.std())

print(f"Mean of Legendary Pokemons: {leg_mean}; Standard Deviation: {leg_std}")
print(f"Mean of Non-Legendary Pokemons: {noleg_mean}; Standard Deviation: {noleg_std}")

Mean of Legendary Pokemons: 637.3846153846154; Standard Deviation: 60.93738905315344
Mean of Non-Legendary Pokemons: 417.21360544217686; Standard Deviation: 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [16]:
# Your code here:
from scipy.stats import ttest_ind
# No = Average points for legendary and non-legendary Pokemons are similar
# N = Average points for legendary and non-legendary Pokemons are not similar

ttest_ind(legendary, non_legendary, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

By the p-value given after performing the test, we can conclude that null hypothesis may be rejected for all the typical confidence intervals. By the t-statistic given, we can say that the average total points is much higher for legendary Pokemons than the average for non-legendary Pokemons.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
# Your code here:
pokemon['Type 1'].value_counts(dropna=False)

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [18]:
# Your code here:
water = pokemon[pokemon['Type 1'] == 'Water']['Total']
no_water = pokemon[pokemon['Type 1'] != 'Water']['Total']

wtr_mean, wtr_std = (water.mean(), water.std())
nowtr_mean, nowtr_std = (no_water.mean(), no_water.std())

print(f"Mean of Water Pokemons: {wtr_mean}; Standard Deviation: {wtr_std}")
print(f"Mean of Non-Water Pokemons: {nowtr_mean}; Standard Deviation: {nowtr_std}")

Mean of Water Pokemons: 430.45535714285717; Standard Deviation: 113.1882660643146
Mean of Non-Water Pokemons: 435.85901162790697; Standard Deviation: 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [19]:
# Your code here:
# Ho = Average points for Water Pokemons is similar to average points of all other Pokemons
# H = Average points for Water Pokemons is not similar to average points of all other Pokemons

ttest_ind(water, no_water)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

By the given pvalue, we cannot reject the null hypothesis for all typical confidence intervals, se we can say the average points for Water Pokemons is similar to the average of the rest. By the t-statistic value, in fact, we could say that if we were to reject that hypothesis, we could say that the average points for Water Pokemons is lower than the rest.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [21]:
# Your code here:
from scipy.stats import ttest_rel
attack = pokemon['Attack']
defense = pokemon['Defense']

# Ho = Defense and attack scores of each of the Pokemons are different
# H = Defense and attack scores of each of the Pokemons are equal

ttest_rel(defense, attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

As the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html#scipy.stats.ttest_rel) says: "If we observe a large p-value, for example greater than 0.05 or 0.1 then we cannot reject the null hypothesis of identical average scores. If the p-value is smaller than the threshold, e.g. 1%, 5% or 10%, then we reject the null hypothesis of equal averages".

For our case, as p-value is smaller than the typical CI's, we cannot reject the null hypothesis of defense and attack scores being different.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [22]:
# Your code here:
sp_attack = pokemon['Sp. Atk']
sp_defense = pokemon['Sp. Def']

# Ho = There is no significant difference between the means of Special Attack and Special Defense of the Pokemons
# H = There is a significant difference between the means of Special Attack and Special Defense of the Pokemons

ttest_rel(sp_attack, sp_defense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

As pvalue is greater than the typical CI's, we cannot reject the null hypothesis that there is no significant difference between the means of Special Attack and Defense of the Pokemons.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [26]:
# Your code here:
from scipy.stats import ttest_1samp

# Ho = The difference between the means of Special Attack and Defense of all the Pokemons is zero
# H = The difference between the means of Special Attack and Defense of all the Pokemons is not zero

ttest_1samp((sp_attack - sp_defense), 0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

As the pvalue is greater than the typical CI's, we cannot reject the null hypothesis that the difference between the means of Special Attack and Defense of all the Pokemons is zero.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [50]:
# Your code here:
xtab = pd.crosstab(pokemon['Type 1'].apply(lambda x: True if x == 'Water' else False), pokemon['Legendary'], rownames=['Water'])
xtab

Legendary  False  True
Water
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [56]:
# Your code here:
from scipy.stats import chi2_contingency

chi2, pvalue = chi2_contingency(xtab)[:2]
print(chi2, pvalue)

2.9429200762850503 0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [59]:
# Your answer here:
# No = No relationship exists between a Pokemon being legendary and being type-1 water
# N = Relationship exists between a Pokemon being legendary and being type-1 water

alpha = 0.05

if pvalue > alpha:
    print("We should not reject the null hypothesis, there is no relationship on our contingency table")
else:
    print("We should reject the null hypothesis, there is relationship on our contingency table")

We should not reject the null hypothesis, there is no relationship on our contingency table