## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(list(range(1,101)), 80)
print(sample_list_1)

[34, 71, 55, 21, 16, 22, 100, 13, 62, 70, 68, 63, 45, 97, 87, 31, 36, 57, 5, 86, 64, 65, 89, 10, 67, 18, 54, 25, 37, 49, 53, 17, 24, 4, 74, 20, 19, 58, 84, 75, 77, 76, 73, 39, 50, 3, 30, 48, 99, 91, 42, 98, 32, 26, 72, 93, 82, 14, 59, 85, 27, 1, 78, 11, 81, 8, 28, 38, 56, 6, 33, 96, 2, 23, 92, 40, 43, 95, 7, 61]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
len(set1) == len(sample_list_1)

80

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for r in list(range(80)):
    sample_list_2.append(random.sample(range(1,101), 1)[0])

print(sample_list_2)

[12, 76, 10, 12, 24, 68, 99, 87, 21, 19, 22, 35, 99, 61, 47, 78, 14, 69, 32, 44, 21, 14, 67, 9, 29, 59, 9, 80, 56, 67, 36, 36, 73, 46, 41, 51, 30, 52, 34, 7, 96, 22, 88, 38, 88, 13, 33, 35, 98, 70, 51, 94, 72, 79, 84, 79, 39, 97, 84, 67, 27, 30, 54, 53, 43, 67, 44, 27, 44, 8, 46, 56, 97, 90, 50, 77, 97, 48, 91, 71]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
len(set2) == len(set1)

57

False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set()

for e in set1:
    if e not in set2:
        set3.add(e)
    else:
        pass

print(set3)

{1, 2, 3, 4, 5, 6, 11, 16, 17, 18, 20, 23, 25, 26, 28, 31, 37, 40, 42, 45, 49, 55, 57, 58, 62, 63, 64, 65, 74, 75, 81, 82, 85, 86, 89, 92, 93, 95, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set()

for e in set2:
    if e not in set1:
        set4.add(e)
    else:
        pass

print(set4)

{35, 69, 9, 41, 12, 44, 46, 47, 79, 80, 51, 52, 88, 90, 29, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set()

for e in set1:
    if e in set2:
        set5.add(e)
    else:
        pass

print(set5)

{7, 8, 10, 13, 14, 19, 21, 22, 24, 27, 30, 32, 33, 34, 36, 38, 39, 43, 48, 50, 53, 54, 56, 59, 61, 67, 68, 70, 71, 72, 73, 76, 77, 78, 84, 87, 91, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
lenghts = {'set1': len(set1), 'set2': len(set2), 'set3': len(set3), 'set4': len(set4), 'set5': len(set5)}
print(lenghts)

{'set1': 80, 'set2': 57, 'set3': 39, 'set4': 16, 'set5': 41}

In [10]:
# len(set3) + len(set5) == len(set1) -> elementos presentes solo en set1 + elementos compartidos entre set1 y set2 = set1
len(set3) + len(set5) == len(set1)

True

In [11]:
# len(set4) + len(set5) == len(set2) -> elementos presentes solo en set2 + elementos compartidos entre set1 y set2 = set2
len(set4) + len(set5) == len(set2)

True

In [12]:
# len(set5) - len(set4) == len(set3) -> elementos compartidos entre set1 y set2 - elementos de set2 no compartidos con set1 = elementos prsentes solo en set1
len(set1) - len(set5) == len(set3)

True

In [13]:
# len(set2) - len(set5) == len(set4) -> 80 elementos aleatoriamente elegidos de entre el 1 al 100, con repeticiones -  elementos compartidos entre set1 y set2 = elementos presentes solo en set2
len(set2) - len(set5) == len(set4)

True

In [14]:
# len(set2) - len(set4) == len(set5) -> elementos presentes en set2 - elementos repetidos en set2 = elementos compartidos en set1 y set2
len(set2) - len(set4) == len(set5)

True

#### Create an empty set called `set6`.

In [15]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [17]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [18]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [19]:
# Your code here
set3.union(set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [20]:
# Your code here
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [21]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for n in list_to_remove:
    if n in set1:
        set1.remove(n)
    else:
        pass

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 42, 43, 45, 48, 50, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 84, 85, 86, 87, 92, 93, 95, 96, 97, 98, 100}