# Advanced Querying Mongo

Importing libraries and setting up connection

In [7]:
import sys
!{sys.executable} -m pip install pymongo

Collecting pymongo
  Using cached pymongo-3.11.0-cp38-cp38-macosx_10_9_x86_64.whl (379 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.0
WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/2.2.8/libexec/bin/python3.8 -m pip install --upgrade pip' command.

In [14]:
from pymongo import MongoClient
client = MongoClient()
db = client.get_database('companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [90]:
# Your Code
babelgum = list(db.companies.find({'name':{'$regex':'^[Bb]abelgum'}}, {'name':1, '_id':0}))
babelgum

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [99]:
# Your Code
mt_fivek = list(db.companies.find({'number_of_employees':{'$gt':5000}}).limit(20).sort([('number_of_employees',-1)]))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [95]:
# Your Code
founded = list(db.companies.find({'founded_year': {'$gte':2000, '$lte':2005}}, {'name':1, 'founded_year':1, '_id':0}).sort([('founded_year', 1)]))
founded[0]

[{'name': 'AllofMP3', 'founded_year': 2000},
 {'name': 'Steorn', 'founded_year': 2000},
 {'name': 'MeeVee', 'founded_year': 2000},
 {'name': 'PhotoBox', 'founded_year': 2000},
 {'name': 'Boonex', 'founded_year': 2000}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [96]:
# Your Code
old_gold = list(db.companies.find({'ipo.valuation_amount':{'$gt':100000000}, 'founded_year':{'$lt':2010}}, {'name':1, 'ipo':1, '_id':0}).sort([('ipo.valuation_amount',-1)]))
old_gold[0]

{'name': 'GREE',
 'ipo': {'valuation_amount': 108960000000,
  'valuation_currency_code': 'JPY',
  'pub_year': 2008,
  'pub_month': 12,
  'pub_day': 17,
  'stock_symbol': '3632'}}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [100]:
# Your Code
thnd_empl = list(db.companies.find({'number_of_employees':{'$lt':1000}, 'founded_year':{'$lt':2005}}).sort([('number_of_employees', -1)]).limit(10))

### 6. All the companies that don't include the `partners` field.

In [75]:
# Your Code
no_partners = list(db.companies.find({'partners':{'$exists':False}})) 
len(no_partners)
# Esta no sé si es 'trampa', lo he hecho tal como dice la documentación 
# (https://docs.mongodb.com/manual/tutorial/query-for-null-fields/) y me sale que todos tienen el field

0

### 7. All the companies that have a null type of value on the `category_code` field.

In [77]:
# Your Code
no_category = list(db.companies.find({'category_code':None}))
len(no_category)

2751

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [101]:
# Your Code
hund_thnd = list(db.companies.find({'number_of_employees':{'$gte':100, '$lt':1000}}, {'name':1, 'number_of_employees':1, '_id':0}))
hund_thnd[0]

{'name': 'AdventNet', 'number_of_employees': 600}

### 9. Order all the companies by their IPO price in a descending order.

In [106]:
# Your Code
ipo_desc = list(db.companies.find({}).sort([('ipo.valuation_amount', -1)]))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [107]:
# Your Code
more_empl = list(db.companies.find({}, {'name':1, 'number_of_employees':1, '_id':0}).sort([('number_of_employees', -1)]))
more_empl[0]

{'name': 'Siemens', 'number_of_employees': 405000}

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [111]:
# Your Code
second_sem = list(db.companies.find({'founded_month':{'$gte':6}}).limit(1000))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [113]:
# Your Code
bf_sxix = list(db.companies.find({'founded_year':{'$lt':2000}, 'acquisition.price_amount':{'$gt':10000000}}))

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [114]:
# Your Code
acquired = list(db.companies.find({'acquisition.acquired_year':{'$gt':2010}}, {'name':1, 'acquisition':1, '_id':0}).sort([('acquisition.price_amount', -1)]))
acquired[0]

{'name': 'T-Mobile',
 'acquisition': {'price_amount': 39000000000,
  'price_currency_code': 'USD',
  'term_code': None,
  'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
  'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
  'acquired_year': 2011,
  'acquired_month': 3,
  'acquired_day': 20,
  'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [121]:
# Your Code
by_year = list(db.companies.find({'founded_year':{'$ne':None}}, {'name':1, 'founded_year':1, '_id':0}).sort([('founded_year',1)]))
by_year[0]

{'name': 'Alstrasoft', 'founded_year': 1800}

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [124]:
# Your Code
f_seven = list(db.companies.find({'founded_day':{'$lte':7}}).sort([('acquisition.price_amount',-1)]).limit(10))

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [126]:
# Your Code
web = list(db.companies.find({'category_code':'web', 'number_of_employees':{'$gt':4000}}).sort([('number_of_employees', 1)]))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code